# Redis Configuration for PROD Environment
port {{ redis_port }}
bind 127.0.0.1
protected-mode yes
dir /var/lib/redis/prod
pidfile /var/run/redis/redis-prod.pid
logfile /var/log/redis/redis-prod.log
databases 16
save 900 1
save 300 10
save 60 10000
maxmemory 2gb
maxmemory-policy allkeys-lru

